// ============================================================================
// Elastic Slider
// ============================================================================

.ElasticSlider {
    display: block;
    background: red;
    position: relative;
    overflow: hidden;

    &-container {
    }

    &-pagiList {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 5;

    }

        &-pagiItem {
            float: left;
        }

    &-arrowList {
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 5;
    }

        &-arrowItem {
            float: left;
        }

    &-item {
        background: green;
        height: 100%;
        width: 100%;
        position: absolute;
        top: -100%;
        left: -100%;

        &--clone {
            z-index: 1;
        }

        &--isActive {
            left: 0;
            top: 0;
        }
    }
}

// Animation styles

.ElasticSlider-item--animateFadeStart {
    top: 0%;
    left: 0%;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}
.ElasticSlider-item--animateFadeEnd {
    opacity: 1;
}
