// ============================================================================
// ElasticSlider
// Description still needed.
// Version: "0.0.1"
// Jamy Golden (http://css-plus.com/)
// https://github.com/JamyGolden/ElasticSlider
// License: MIT
// ============================================================================

.ElasticSlider {
    display: block;
    background: red;
    position: relative;
    overflow: hidden;

    &-container {}

    &-pagiList {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 5;
    }

        &-pagiItem {
            float: left;
        }

        &-pagiItem--isActive {
            background: red;
        }

    &-arrowList {
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 5;
    }

        &-arrowItem {
            float: left;
        }

    &-item {
        background: green;
        height: 100%;
        width: 100%;
        position: absolute;
        top: -100%;
        left: -100%;
        z-index: 0;

        &--clone {
            z-index: 1;
        }

        &--isActive {
            left: 0;
            top: 0;
        }
    }
}

// Animation styles
// ============================================================================
@import "animation/fade";
@import "animation/slide";
