// ============================================================================
// ElasticSlider
// Description still needed.
// Version: "0.0.1"
// Jamy Golden (http://css-plus.com/)
// https://github.com/JamyGolden/ElasticSlider
// License: MIT
// ============================================================================

.ElasticSlider {
    display: block;
    background: red;
    position: relative;
    overflow: hidden;

    &-container {
    }

    &-pagiList {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 5;

    }

        &-pagiItem {
            float: left;
        }

    &-arrowList {
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 5;
    }

        &-arrowItem {
            float: left;
        }

    &-item {
        background: green;
        height: 100%;
        width: 100%;
        position: absolute;
        top: -100%;
        left: -100%;

        &--clone {
            z-index: 1;
        }

        &--isActive {
            left: 0;
            top: 0;
        }
    }
}

// Animation styles

.ElasticSlider-item--animateFadeStart {
    top: 0%;
    left: 0%;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}
.ElasticSlider-item--animateFadeEnd {
    opacity: 1;
}

.ElasticSlider-item--animateSlideStart {
    top: 0%;
    transition: left 0.2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.ElasticSlider-item--animateSlideEnd {
    left: 0%;
}
